.under_line,.under_lineB{
    display:block;
    width: 100%;
    height: 1px;
    background-color: #fff;
}
.under_line{background-color: #fff;
    margin-bottom: 10px;
}
.under_lineB{background-color: #000;}


.fullbg-info1{
    position: relative;
    z-index: 2;
    &>*{
        color:white;
    }
    p{font-size:16px;margin-bottom: 0;}
    h2{
        font-size:40px;
        font-weight: bold;
        margin:10px auto 15px;
    }
    a{
        display: inline-block;
        background-color: $pri_peach;
        padding:10px 18px;
        color:white;
        &:hover{
            color:white;
        }
    }
}
.fullbg-info2{
    text-align: center;
    position:absolute;
    right: 0;
    left: 0;
    top:50%;
    z-index: 1;
    h2{
        font-size:40px;
        font-weight: bold;
        margin:10px auto 15px;
        color:white;
        @include rwd(phone){
            font-size:32px;
        }
    }
}

.ec-info2{
    position: absolute;
    left: 80px;
    bottom: 80px;
    .price{
        font-size:20px;
        font-weight: 600;
        color:#3F3934;
        margin-bottom: 10px;
        span{
            font-size:40px;
            margin-left:10px;
            color:$pri_peach;
        }
    }
    .name{
        font-size:40px;
        font-weight: bold;
        color:#3F3934;
        margin-bottom: 30px;
    }
    a.link{
        padding:10px 18px;
        background-color: #fff;
        color:#3f3934;
        font-size:14px;
    }
}

.baseline{
    text-align: center;
    font-weight: bold;
    position:relative;
    margin:30px auto 25px; 
    @include rwd(phone){
        margin:20px auto;
    }
    span{
        font-weight: 300;
        font-size:$fs-mid;
        line-height: 30px;
        color:#666;
        background-color: #fff;
        padding:0 25px;
        letter-spacing:3px;
    }
    &:after{
        content:'';
        position:absolute;
        width: 100%;
        height: 1px;
        background-color: #EFEFEF;
        left: 0;
        top:50%;
        z-index: -1;
    }
    &2{
        font-weight: 300;
        text-align: center;
        font-weight: bold;
        position:relative;
        margin:30px auto;
        @include rwd(phone){
            margin:20px auto;
        }

        span{
            font-weight: 300;
            font-size:$fs-mid;
            color:black;
            background-color: #fff;
            padding:7px 25px;
            line-height: 30px;
            letter-spacing:3px;
            position:relative;
            z-index: 2;
        }
        &:after{
            content:'';
            position:absolute;
            width: 100%;
            height: 1px;
            background-color: #EFEFEF;
            left: 0;
            top:50%;
            z-index: 1;
        }
    }
}
.baseline3{
    text-align: center;
    font-weight: bold;
    margin:30px auto 60px; 
    padding-bottom: 10px;
    border-bottom:2px solid #E53A31;
    span{
        color:#E53A31;
        font-size:$fs-mid;
    }
    @include rwd(phone){
        margin:30px auto 40px;
    }
}
.dashline{
    width: 100%;
    height: 1px;
    background-image: linear-gradient(90deg, #eee 30%, transparent 50%);
    background-size: 3px 1px;
    margin-bottom: 0;
    background-repeat: repeat-x;
}
.underline{
    text-decoration:underline;
}
.button-st1{
    display:inline-block;
    background-color: #E53A31;
    color: #fff;
    padding: 13px 20px;
    border: 0px solid transparent;
    margin-right: 15px;
    &:hover{
        background-color: darken($pri_peach,5%);
        color:#fff;
    }
}
.button-st2{
    display: inline-block;
    background-color: #E9E9E9;
    color: #858585;
    padding: 7px 16px;
    border: 0px solid transparent;
    border-radius:2px;
    margin-right: 15px;
    font-size: 14px;
    &:hover{
        background-color: darken(#E9E9E9,5%);
        color:#666;
    }
}
.button-st3{
    display: inline-block;
    background-color: #E53A31;
    color: white;
    padding: 9px 16px;
    border: 0px solid transparent;
    border-radius: 1px;
    font-size: $fs-min;
    position: relative;
    i{
        margin:0 0 0 25px;
        position:relative;
    }
    &:hover{
        background-color: #000;
        color: white;
    }
    &:after{
        content:'';
        position:absolute;
        right: 42px;
        bottom: 0;
        height: 35px;
        width: 1px;
        background-color: #eee;
    }
}
.button-st4{
    display: inline-block;
    background-color: black;
    color: white;
    width: 150px;
    height: 35px;
    border-radius:4px;
    letter-spacing:1px;
    text-align: center;
    border: 0px solid transparent;
    font-size: $fs-mid;
    position: relative;
    &.red{
        background-color: #E53A31;
    }
    @include rwd(phone){
        font-size:$fs-min;
        letter-spacing: 3px;
        line-height: 24px;
    }
}
.search-button{
    padding: 6.5px $fs-min;
    border-radius: 0;
    background-color: #222222;
    i{color:#fff;}
}
.accordion_link{
    background-color: #F4F4F4;
    color:#686868;
    box-shadow: 1px 1px 3px #eee;
    border-top: 1px solid $pri_peach;
    padding: 10px 20px;
    margin-bottom: 20px;
    p{
        margin-bottom: 0;
    }
}
.input1{
    border: 1px solid #EDEDED;
    border-radius: 2px;
    border-radius: 0;
    width: 150px;
    height: 34px;
    padding: 6px $fs-min;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-image: none;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
}
.blur{
    position:relative;
    &:after{
        content:'';
        width: 100%;
        height: 100%;
        position:absolute;
        left: 0;
        top: 0;
        background-color: rgba(0,0,0,.3);
    }
}
.greyimg{ filter:saturate( 0.7);}
.blurimg{
    filter:brightness(.9);
}
.pagenum{
    display: block;
    width: 100%;
    position: relative;
    float: left;
    text-align: center;
    margin:20px auto 20px;
    li{
        display:inline-block;
        margin:3px;
        a{
            padding: 5px 10px;
            font-size: $fs-min;
            position: relative;
            float: left;
            line-height: 1.42857;
            text-decoration: none;
            background-color: #fff;
            color: #1A1A1A;
            border: 1px solid #1A1A1A;
            border-radius:4px;
            &:hover,&.clicked{
                background-color: #1A1A1A;
                color:white;
            }
        }
       
    }
}

/*****select drop******/
.select_drop{
    float:right;
    display:inline-block;
    .custom-select-wrapper {
        position: relative;
        display: inline-block;
        user-select: none;
        select {
            display: none;
        }
    }

    .custom-select {
        position: relative;
        display: inline-block;
    }

    .custom-select-trigger {
        position: relative;
        display: block;
        padding: 7.5px 15px 7.5px 30px;
        font-size: $fs-min;
        font-weight: 300;
        color: #868686;
        border:1px solid #EBEBEB;
        cursor: pointer;
        @include rwd(phone){
            padding: 7.5px 5px 7.5px 25px;
        }
        &:after {
            position: absolute;
            display: block;
            content: '';
            width: 10px;
            height: 10px;
            top: 50%;
            left: 12px;
            margin-top: -3px;
            border-bottom: 1px solid #868686;
            border-right: 1px solid #868686;
            transform: rotate(45deg) translateY(-50%);
            transition: all .4s ease-in-out;
            transform-origin: 50% 0;
            @include rwd(phone){
                left: 8px;
            }
        }
    }

    .custom-select.opened .custom-select-trigger:after {
        margin-top: 3px;
        transform: rotate(-135deg) translateY(-50%);
    }

    .custom-options {
        display: none;
        min-width: 100%;
        border:1px solid #EBEBEB;
        box-sizing: border-box;
        box-shadow: 0 2px 1px rgba(0, 0, 0, 0.07);
        background: #fff;
        transition: all .4s ease-in-out;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translateY(-15px);
    }

    .custom-select.opened .custom-options {
        position:absolute;
        z-index: 2;
        opacity: 1;
        display:block;
        visibility: visible;
        pointer-events: all;
        transform: translateY(0);
    }
    .option-hover:before {
        background: #f9f9f9;
    }

    .custom-option {
        position: relative;
        display: block;
        padding: 10px 15px;
        border-bottom: 1px solid #EBEBEB;
        font-size: $fs-min;
        color: #868686;
        cursor: pointer;
        text-align: right;
        transition: all .4s ease-in-out;
        &:hover{
            color:$pri_red;
        }
        &:first-of-type {
            border-radius: 4px 4px 0 0;
        }
        &:last-of-type {
            border-bottom: 0;
            border-radius: 0 0 4px 4px;
        }
        &:hover, &.selection {
            background: #f9f9f9;
        }
    }
}


//custom checkbox

input.customCB[type=checkbox] { 
    display:none; 
    &+label:before {
        font-family: FontAwesome;
        display: inline-block;
        content: "\f096";color:#aaa;
        letter-spacing: 10px;
    }
    &:checked + label:before { 
        content: "\f046";color:#495057; 
        letter-spacing: 5px;
    }
} 


//custom-select
