.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: flex;
}

.row{ 
  flex-direction: row;
}

.row-reverse{ 
  flex-direction: row-reverse;
}  
.row-reverse li {
  background: gold;
}

.column { 
  -webkit-flex-direction: column; 
  flex-direction: column; 
  float: left;
}
.column li {
  background: deepskyblue;
}
.column-reverse { 
  -webkit-flex-direction: column-reverse; 
  flex-direction: column-reverse; 
  float: right;
}
.column-reverse li {
  background: lightgreen;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 50px;
  height: 50px;
  margin: 5px;
  
  line-height: 50px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.flexbox,.flexbox_center,.flexbox_end,.flexbox_top{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    -ms-box-orient: horizontal;
    .col{
        color:#fff;
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
        justify-content: center;

    }
}
.flexbox{
  &_center{     
    align-items: center;
  }
  &_end{     
    align-items: flex-end;
  }
  &_top{     
    align-items: flex-top;
  }
}
.flexbox-m,.flexbox-m-inverse{
    display: flex;
    flex-wrap: wrap;
    @media( max-width : 991px){
        display:block;  
        width: 100%;
        float: left; 
    }
    &.center{
        align-items: center;
    }
    &.end{
        align-items: flex-end;
    }
    &.top{
        align-items: flex-top;
    }
    .col{
        color:#fff;
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
        justify-content: center;
    }
}
.flexbox-m-inverse{ 
  flex-direction: row-reverse;
}  