@for $i from 0 through 20 {
    .mb#{$i*5} {
        margin-bottom: 5px * $i;
        @include rwd(phone){
            margin-bottom: 4px*$i;
        }
    }
    .mt#{$i*5} {
        margin-top: 5px * $i;
        @include rwd(phone){
            margin-top: 4px*$i;
        }
    }
    .mtb#{$i*5}{
        margin-top: 5px*$i;
        margin-bottom: 5px*$i;
        @include rwd(phone){
            margin-top: 4px*$i;
            margin-bottom: 4px*$i;
        }
    }
    .pt#{$i*5} {
        padding-top: 5px * $i;
        @include rwd(phone){
            padding-top: 4px * $i;
        }
    }
    .pb#{$i*5} {
        padding-bottom: 5px * $i;
        @include rwd(phone){
            padding-bottom: 4px * $i;
        }
    }
    .ptb#{$i*5}{
       padding-top: 5px*$i;
       padding-bottom: 5px*$i;
        @include rwd(phone){
           padding-top: 3px*$i;
           padding-bottom: 3px*$i;
        }
    }
    .font#{$i*2+12}{
    	font-size: ($i*2+12)px;
    }
}
@for $i from 0 through 8 {
 .fa-#{$i}{
 	font-size: $i+em;
 }
}
@for $i from 0 through 9{
    .white_f#{$i}{
        background-color: #f+$i+f+$i+f+$i;
    }
}

@for $i from 0 through 12{
    
    @media (max-width:767px) {
        .xs-#{$i}{
            width:($i/12)*100+%;
            position: relative;
            float:left;
            min-height: 1px;
            padding-left: 15px;
            padding-right: 15px;
        }
        .sm-#{$i},.md-#{$i},.lg-#{$i}{
            position:relative;
            width:100%;
            padding-left: 15px;
            padding-right: 15px;
            &:first-child{
                padding-left: 15px;
            }
            &:last-child{
                padding-right: 15px;
            }
        }
    }
    @media (min-width:768px){
        .sm-#{$i}{
            width:($i/12)*100+%;
            position: relative;
            float:left;
            min-height: 1px;
            padding-left: 15px;
            padding-right: 15px;
            &:first-child{
                // padding-left: 15px;
            }
            &:last-child{
                // padding-right: 15px;
            }
        }
    } 
    @media (min-width:992px){
        .md-#{$i}{
            width:($i/12)*100+%;
            position: relative;
            float:left;
            min-height: 1px;
            padding-left: 7.5px;
            padding-right: 7.5px;
            &:first-child{
                // padding-left: 15px;
            }
            &:last-child{
                // padding-right: 15px;
            }
        }
    }
}
@for $i from 1 through 12{
    @media (min-width: 576px){
        .push-sm-#{$i} {
            left: ($i/12)*100+%;
        }
        .pull-sm-#{$i} {
            right: ($i/12)*100+%;
        }    
    }
}
@for $i from 1 through 12{
    @media (min-width: 768px){
        .push-md-#{$i} {
            left: ($i/12)*100+%;
        }
        .pull-md-#{$i} {
            right: ($i/12)*100+%;
        }  
    }
}
@for $i from 1 through 12{
    @media (min-width: 992px){
        .push-lg-#{$i} {
            left: ($i/12)*100+%;
        }
        .pull-lg-#{$i} {
            right: ($i/12)*100+%;
        }    
    }
}



