
@-webkit-keyframes shadow-drop-2-br {
    0% {
        -webkit-transform: translateZ(0) translateX(0) translateY(0);
        transform: translateZ(0) translateX(0) translateY(0);
        box-shadow: 0 0 0 0 transparent
    }
    100% {
        -webkit-transform: translateZ(50px) translateX(-6px) translateY(-6px);
        transform: translateZ(50px) translateX(-6px) translateY(-6px);
        box-shadow: 6px 6px 20px -6px rgba(255,255,255,.8)
    }
}

@keyframes shadow-drop-2-br {
    0% {
        -webkit-transform: translateZ(0) translateX(0) translateY(0);
        transform: translateZ(0) translateX(0) translateY(0);
        box-shadow: 0 0 0 0 transparent
    }
    100% {
        -webkit-transform: translateZ(50px) translateX(-12px) translateY(-12px);
        transform: translateZ(50px) translateX(-6px) translateY(-6px);
        box-shadow: 6px 6px 20px -6px rgba(255,255,255,.8)
    }
}
@-webkit-keyframes bounced {
  100% {
    transform:translateY(30px);
  }
}
@-webkit-keyframes width-underline {
  0% {
    width: 0;
    background-color: transparent;
  }
  100% {
    width: 100%;
    background-color: #fff;
  }
}

.come-inY {
  transform: translateY(150px);
  animation: come-inY .8s ease forwards;

}
.come-in:nth-child(odd) {
  animation-duration: 0.3s;
}

.come-inX {
  transform: translateX(150px);
  animation: come-inX .8s ease forwards;

}
.come-in:nth-child(odd) {
  animation-duration: 0.3s;
}
@keyframes come-inY {
  to { transform: translateY(0); }
}
@keyframes come-inX {
  to { transform: translateX(0); }
}




@keyframes blur {
  0% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }
  100% {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
  }
}

@keyframes blur-out {
  0% {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
  }
  100% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }
}

@keyframes black-in{
  0%{
    -webkit-filter:blur(0);
    -moz-filter:blur(0);
    -o-filter:blur(0);
    -ms-filter:blur(0);
    filter:blur(0);

  }
  100%{
    -webkit-filter:blur(10px);
    -moz-filter:blur(10px);
    -o-filter:blur(10px);
    -ms-filter:blur(10px);
    filter:blur(10px);
  }
}





@-webkit-keyframes jump {
  0%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40%{
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  50%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  60%{
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  80%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes jump {
  0%{
    transform: translateY(0);
  }
  20%{
    transform: translateY(0);
  }
  40%{
    transform: translateY(-30px);
  }
  50%{
    transform: translateY(0);
  }
  60%{
    transform: translateY(-15px);
  }
  80%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(0);
  }
}
