@mixin rwd($media) {
    @if $media==phone {
        @media only screen and (max-width: $browser-small) {
            @content;
        }
    }
    @else if $media==ex_phone {
       @media only screen and (min-width: $browser-small + 1) {
            @content;
       }
    }
    @else if $media==pad {
        @media only screen and (min-width: $browser-small + 1) and (max-width: $browser-large - 1) {
            @content;
        }
    }
    @else if $media==pc {
        @media only screen and (min-width: $browser-large) {
            @content;
        }
    }
}
@mixin same-heigh($wrap){
    @if $wrap==out{
        display:table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
        // vertical-align:middle;

    }
    @elseif $wrap==inner{
        display: table-cell;
        float: none;
        height: 100%;
        // vertical-align:middle;

        @content;
    }
}
@mixin size($widthV,$heightV){
    width:$widthV;
    height:$heightV;
}
@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}
@mixin font($size,$letter-spacing : normal){
    @if $size==big {
       font-size:4rem;
       @include rwd(pad) {
           font-size:3.5rem;
           line-height: normal;
           letter-spacing:.3rem;
       }
        @include rwd(phone) {
           font-size:2.3rem;
           line-height: normal;
           letter-spacing:.5rem;
        }

    }
    @else if $size==mid {
        font-size:2.3rem;
        line-height: inherit;
        letter-spacing:.5rem;
        margin-bottom: 10px;
        @include rwd(pad) {
            font-size:1.8rem;
            letter-spacing:.3rem;
        }
        @include rwd(phone) {
            font-size: 1.4rem;
            letter-spacing: .1rem;
        }
    }
    @else if $size==p {
       font-size : 14px;
        letter-spacing: .2rem;

       @include rwd(phone) {
           font-size:14px;
           letter-spacing:.1rem;
       }
    }
    @else{
      font-size:$size;
      letter-spacing:$letter-spacing;
    }
   
}