// .navbar{
//     padding: 0 1rem;
//     background-color: rgba(255,255,255,.9);
// }
// .navbar-toggler {
//     padding: .5rem .5rem;
// }
// .navbar-brand{
//     width: 120px;
//     @media(max-width:991px){
//         width:100px;
//     }
// }
// .nav-item{
//     padding: 10px 20px;
//     @media(max-width: 991px){
//         padding: 0px 15px;
//     }
//     a{
//         color:#333;
//         letter-spacing: 1px;
//         &:hover{
//             color:black;
//         }
//     }
//     &:last-child{
//         border-left:1px solid #000;
//         @media(max-width: 991px){
//             border-left:0px solid transparent;
//         }
//     }
// }
// .navbar-light .navbar-toggler{
//     border-color: #000;
// }