/*
//xs
Extra small devices
Portrait phones (<544px) Small devices
//sm
Landscape phones (≥544px - <768px) Medium devices
//md
Tablets (≥768px - <992px) Large devices
// lg,xl
Desktops (≥992px - <1200px) Extra large devices
Desktops (≥1200px)
*/

@import url('https://fonts.googleapis.com/css?family=Lobster+Two');

* {
    font-size: 16px;
    letter-spacing: 2px;
    line-height: normal;
    box-sizing:border-box;
    @media(max-width:576px){
        font-size: 14px;
        letter-spacing: 1px;
    }
    // &::-webkit-scrollbar {
    //     width: 5px;
    // }

    // &::-webkit-scrollbar-track {
    //     border-radius: 10px;
    //     background: #eee;
    // }

    // &::-webkit-scrollbar-thumb {
    //     border-radius: 10px;
    //     background: #888;
    // }
    // &::-webkit-scrollbar-thumb:window-inactive {
    //     background: rgba(100, 100, 100, 0.4);
    // }
}

body {
    background-color: transparent;
}
.container{
    @media(max-width:1199px){
        min-width: calc(100% - 30px);
    }
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
header,
font,
article {
    word-wrap: break-word; // word-break: break-all;
    word-break: normal;
    &.grey {
        color: #666;
    }
}
.overflow-hidden{
    overflow:hidden;
}
.leave-top{
    margin-top: 70px;
    @media(max-width:991px){
        // margin-top: 67.5px;
    }
}
.leave-bot{
    margin-bottom: 100px;
    @media(max-width:991px){
        margin-bottom: 80px;
    }
}
.prl-15{
    padding-left: 15px;
    padding-right: 15px;
}
.black{
    color:black;
}
.grey{
    color:#666;
}
.grey9a{
    color: #9a9a9a;
}
.green{
    color:$pri_green;
}
.fullScreen{
    min-height: 100vh;
    position: relative;
    padding:10vh 0px;
}
.halfScreen{
    min-height: 50vh;
    position: relative;
    padding:10vh 15px;
}
.lobster-font{
    font-family: 'Lobster Two', cursive;
    &.font40{
        font-size: 40px;
        margin-bottom: 60px;
        @include rwd(phone){
            font-size: 36px;
            margin-bottom: 30px;
        }
    }
}
header{
    background-color: #fff;
    @media(max-width:991px){
        background-color: RGBA(60, 81, 57, 1.00);
    }
}
.navbar{
    height: 70px;
    text-align: center;
    max-width:1400px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0 auto;
    .nav-item{
        a{
            height: 70px;
            align-items: center;
            justify-content: center;
            display: flex;
        }
    }
    @media(max-width:991px){
        text-align: left;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .navbar-toggler {
        color:#fff;
        border-color: transparent;
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
        }
    }
    .navbar-brand{
        float: left;
        padding-top: 0;
        padding-bottom: 0;
        img{
            width: 130px;
            @media(max-width:991px){
                width: 100px;
            }
        }
        @media(min-width:991px){
            display: none;
        }

    }
    .navbar-collapse{
        margin: 0 -16px;
        padding-left: 15px;
        padding-right: 15px;
        @media(min-width:991px){
            display: flex;
            webkit-box-pack: justify!important;
            -ms-flex-pack: justify!important;
            justify-content: space-between!important;
            .navbar-brand{
                display: block
            }
        }
        @media(max-width:991px){
            background-color: RGBA(60, 81, 57, 1.00);
            position: relative;
            margin-top: 6px;
            border:0px solid transparent;
            border-top:1px solid #fff;
            padding: 20px;
            .navbar-brand{
                display: none;
            }
            *{
                color:white !important;
            }
        }
    }
    .navbar-nav{
        margin-right: auto;
        margin-left: auto;
    }
    .navbar-user{
        margin-bottom: 0;
        float: right;
        display: block;
        @media(max-width:991px){
            display: none;
            float: left;
            margin-top: 20px;
        }
        li{
            display: inline-block;
            margin: 0 5px;
            text-align: center;
            vertical-align: center;
            svg{
                width: 28px;
                path{
                    fill:#000;
                    @media(max-width:991px){
                        fill:#fff;
                    }
                }
            }
            &:hover{
                path{
                    fill:#546E51;
                    @media(max-width:991px){
                        fill:#fff;
                    }
                }
            }
            p{
                margin-bottom: 0;
                font-size: 13px;
                color:black;
            }
        }
        
    }
    .dropdown{
        position: static;
    }
    .dropdown-menu{
        border:0px solid transparent;
        border-radius:0;
        background-color: RGBA(60, 81, 57, 1.00);
        *{
            color:white;
        }
        padding: 0px 15px;
        li{
            margin-bottom: 15px;
            h3{
              font-size: 16px;
              font-weight: 400;
              text-align: left;
              margin-bottom: 10px;
              letter-spacing: 3px;
            }
            ul{
                li{
                    margin-bottom: 5px;
                    margin-left: 15px;
                    a{
                        text-align: left;
                        font-weight: 200;
                        height: auto;
                    }
                }
            }
        }
        @media(min-width:991px){
            position: fixed !important;
            top: 70px;
            z-index: 5;
            width: 100vw;
            margin-top: 0;
            left: 0;
            padding:50px 0;
            border-top:1px solid #fff;
            .dropdown-submenu{
                max-width:1400px;
                margin: auto;
                display: flex;
                justify-content: center;
                li{
                    display: inline-block;
                    margin: 0 25px;
                    h3{
                        font-size: 18px;
                        font-weight: 400;
                        text-align: left;
                        margin-bottom: 40px;
                        min-height: 21px;
                    }
                    ul{
                        display: block;
                        li{
                            display: block;
                            margin: 0 0 10px;
                            a{
                                text-align: left;
                                font-weight: 200;
                            }
                        }
                    }
                }
            }
        }
    }
}
.navbar-userM{
    margin-bottom: 0;
    margin-right: 10px;
    display: none;
    float: left;
    @media(max-width:991px){
        display: block;
    }
    li{
        display: inline-block;
        margin: 0 10px;
        text-align: center;
        vertical-align: center;
        svg{
            width: 28px;
            path{
                fill:#fff;
            }
        }
        &:hover{
            path{
                fill:#546E51;
                @media(max-width:991px){
                    fill:#fff;
                }
            }
        }
        p{
            margin-bottom: 0;
            font-size: 13px;
            color:black;
            color:#fff;
        }
    }
    
}
.header-input{
    background-color: RGBA(80, 111, 81, 1.00);
    padding:10px 15px;
    position: fixed;
    top:70px;
    z-index: 3;
    input{
        position: relative;
        height: 38px;
    }
    button{
        position: absolute;
        background-color: RGBA(237, 238, 232, 1.00);
        top: 2.5px;
        right: 20px;
        border:0px solid transparent;
        padding: 5px 20px;
        cursor: pointer;
        svg{
            width: 20px;
        }
        &:hover{
            background-color: $pri_green;
            svg{
                path{
                    fill:#fff;
                }
            }
        }
    }
}
footer{
    background-color: RGBA(80, 111, 81, 1.00);
    padding: 30px 0;
    @include rwd(phone){
        padding: 40px !important;
    }
    a{
        margin-bottom: 10px;
        display: block;
        color:white;
        font-size: 13px;
        .svg-farrow{
            width: 20px;
            margin-right: 10px;
        }
        &:hover{
            opacity:.7;
            color:white;
        }
    }
    h3{
        font-size: 20px;
        letter-spacing: 1.5px;
        margin-bottom: 30px;
        color:white;
    }
    p{
        font-size: 14px;
        letter-spacing: 1px;
        margin-bottom: 5px;
        color:white;
    }
    .footer-link{

        @include rwd(phone){
           
            margin-top: 40px;
        }
        
    }
    .footer-social{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin-bottom: 5px;
        @include rwd(phone){
            margin-top: 20px;
            margin-bottom: 0;
            align-items: center;
            justify-content: center;
        }
        ul{
            margin-bottom: 0;
            li{
                display: inline-block;
                margin: 0 8px;
                a{
                    font-size: 28px;
                    margin-bottom: 0;

                }
            }
        }
    }
}
.indexBn-box{
    position: relative;
    margin-bottom: 100px;
    @include rwd(phone){
        margin-bottom: 40px;
    }

    .indexBn-slick{
        width: 100%;
        display: block;
        margin-bottom: 0;
        li.bn{
            // height: 80vh;
            background-size: cover;
            @include rwd(phone){
                // height: 60vw;
            }
        }
    }
    .arrow-control{
        .right,.left{
            position: absolute;
            top: 50%;
            transform:translateY(-50%);
        }
        .right{
            right: 3%;
        }
        .left{
            left: 3%;
        }
        img{
            width: 30px;
        }
    }
    .slick-dots{
       
        li {
            &.slick-active{
                button{
                    &:before{
                        color:#666;
                    }
                }
            }
            button{
                &:before{
                    color:#999;
                    font-size: 14px;
                }
            }
        }
        bottom: 10px;
        @include rwd(phone){
            bottom: -25px;
            z-index: 20;
            button{
                &:before{
                    font-size: 12px;
                }
            }
        }
    }
    .bn-text1{
        background-color: rgba(255,255,255,.7);
        padding: 40px 30px;
        min-width: 400px;
        max-width: 600px;
        margin-top: 30vh;
        margin-bottom: 5vh;
        @media(max-width:768px){
            background-color: rgba(255,255,255,.85);
            width: 100%;
            max-width:100%;
            min-width:100%;
            // position: absolute;
            // bottom: 0;
            // left: 0;
            min-height: 120px;
            // margin-top: 0;
            margin-bottom: 20px;
        }
        h2{
            font-size: 40px;
            font-weight: 400;
            margin-bottom: 20px;
            border-bottom:1px solid #333;
            padding-bottom: 15px;
            @media(max-width:768px){
                font-size: 20px;
                letter-spacing: 2px;
                margin-bottom: 15px;
            }
        }
        p{
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 0;
            @media(max-width:768px){
                font-size: 15px;
                letter-spacing: 1px;
            }
        }
    }
}
%font30{
    font-size: 30px;
    letter-spacing: 2px;
    @include rwd(phone){
        font-size: 24px;
        letter-spacing: 1px;
    }
}
%font20{
    font-size: 20px;
    letter-spacing: 1.5px;
    @include rwd(phone){
        font-size: 18px;
        letter-spacing: .8px;
    }
}
%font16{
    font-size: 16px;
    letter-spacing: 1.3px;
    @include rwd(phone){
        font-size: 14px;
        letter-spacing: .4px;
    }
}
.ip-box{
    box-shadow: 0px 0px 10px 5px #eaeaea;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    @include rwd(phone){
        padding: 20px 10px;
    }
    figure{
        position: relative;
        figcaption{
            position: absolute;
            top: -20px;
            left: -20px;
            width: 100px;
            height: 100px;
            @include rwd(phone){
                left: -10px;
            }
            p{
                position: absolute;
                width: 100%;
                height: 100%;
                color:white;
                z-index: 3;
                top: 8px;
                left: 10px;
            }
            span{
               position: absolute;
               z-index: 1;
               top: 0;
               left: 0;
               width: 100%; 
               width: 0;
               height: 0;
               border-style: solid;
               border-width: 100px 100px 0 0;
               border-color: RGBA(255, 149, 150, 1.00) transparent transparent transparent;


            }
        }
        &:hover{
            &:after{
                content:'詳細內容';
                position: absolute;
                top: 50%;
                left: 50%;
                border:1px solid #000;
                border-radius:7px;
                width:120px;
                padding: 8px 0;
                text-align: center;
                transform:translate(-50%,0%);
                color:black;
            }
            img{
                -webkit-filter:blur(3px);
            }
        }
    }
    .ip-name{
        @extend %font20;
        margin-bottom: 10px;
        margin-top: 15px;
        text-align: center;
        @media(max-width:991px){
            font-size: 16px;
            letter-spacing: 0;
        }

    }
    .ip-price-onsale{
        font-size: 20px;
        letter-spacing: 1.4px;
        text-align: center;
        margin-bottom: 0px;
        color:$pri_red;
        @media(max-width:991px){
            font-size: 16px;
            letter-spacing: .6px;
        }
    }
    .ip-price{
        @extend %font16;
        margin-bottom: 15px;
        color:#666;
        text-align: center;
        display: block;
        @media(max-width:991px){
            font-size: 14px;
            letter-spacing: 0;
        }
    }
    .ip-cart{
        display: block;
        margin: auto;
        letter-spacing: 2px;
        border-radius:5px;
        padding: 10px 0;
        text-align: center;
        max-width:200px;
        width: 90%;
        background-color: RGBA(89, 143, 93, 1.00);
        color:white;
        &:hover{
            background-color: #000;
            color:white;
        }
        @media(max-width:991px){
            font-size: 14px;
        }
    }
}
.index-bn2{
    background-size: cover;
    background-position: center center;
    min-height:60vh;
    position: relative;

    padding-top: 20px;
    padding-bottom: 20px;
    .bn-text1,.bn-text2{
        background-color: rgba(255,255,255,.7);
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 2% 3%;
        width:auto;
        min-width: 400px;
        max-width: 600px;
        @media(max-width:768px){
            background-color: rgba(255,255,255,.85);
            width: 100%;
            max-width:100%;
            min-width:100%;
            position: absolute;
            bottom: 0;
            left: 0;
            min-height: 120px;
            margin-top: 0;
            margin-bottom: 20px;
        }
        h2{
            font-size: 40px;
            font-weight: 400;
            margin-bottom: 20px;
            @media(max-width:768px){
                font-size: 20px;
                letter-spacing: 2px;
                margin-bottom: 15px;
            }
        }
        p{
            font-size: 30px;
            font-weight: 400;
            margin-bottom: 0;
            @media(max-width:768px){
                font-size: 15px;
                letter-spacing: 1px;
            }
        }
    }
    .bn-text2{
        @include rwd(ex_phone){
            position: absolute;
            right: 0;
            top: 50%;
            transform:translateY(-50%);
            margin-top: 0;
            margin-bottom: 0;

        }
    }
    .bn3-box{
        padding:5%;
        h2{
            margin-bottom: 30px;
            font-size: 30px;
            letter-spacing: 3px;
            @include rwd(phone){
                text-align: center;
            }
        }
        p{
            font-size: 16px;
            line-height: 30px;
            letter-spacing: 2px;
            text-align: justify;
        }
    }

}
.index-p1-out,.index-p2-out,.index-p3-out{
    position: relative;
    .index-control{
        .left,.right{
            svg{
                position: absolute;
                width:40px;
                top: 50%;
                transform:translateY(-50%);
                color:#333;
                &:hover{
                    fill: grey;
                }
                @include rwd(phone){
                    width:20px;
                    
                }
            }
        }
        .left{
            svg{
                left: -25px;
                @include rwd(phone){
                    left: -10px;
                }
            }
        }
        .right{
            svg{
                right:-25px;
                @include rwd(phone){
                    right: -10px;
                }
            }
        }
    }
}
.seemore{
    text-align: center;
    padding:12px 0px;
    margin: 30px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    border:1px solid #000;
    transition:.3s ease-in all;
    color: #000;
    svg{
        width: 20px;
        margin-right: 10px;
        *{
            transition:.3s ease-in all;
        }
    }
    &:hover{
        border-color:transparent;
        background-color: #000;
        color: #fff;
        svg{
            circle{
                fill:#fff;
            }
            path{
                fill:#000;
            }
        }
    }
    @include rwd(phone){
        display: none;
    }
}
.index-adslide{
    position: relative;
    .index-adslide-ul{
        position: relative;
        width: 100%;
        float: left;
        display: block;
        figure{
            margin-bottom: 0;
        }
    }
    .index-control{
        .left,.right{
            svg{
                position: absolute;
                width:40px;
                top: 50%;
                transform:translateY(-50%);
                color:#333;
                &:hover{
                    fill: grey;
                }
                @include rwd(phone){
                    width:20px;
                    
                }
            }
        }
        .left{
            svg{
                left: 15px;
            }
        }
        .right{
            svg{
                right:15px;
            }
        }
    }
}
.index-article-box{
    background-color: RGBA(236, 237, 232, 1.00);
    padding-top: 50px;
    padding-bottom: 50px;
    .index-article{
        display: flex;
        align-items: stretch;
        margin-bottom: 30px;
        box-shadow:0px 0px 10px 3px #ccc;
        .image{
            
            background-size: cover;
            @media(max-width:991px){
                height: 60vw;
            }
        }
        .intro{
            padding: 3%;
            background-color: #fff;
            h3{
                @extend %font30;
                font-weight: 400;
                margin-bottom: 20px;
            }
            .price{
                @extend %font20;
                color:$pri_red;
                margin-bottom: 25px;
            }
            .info{
                @extend %font16;
                margin-bottom: 40px;
            }
        }

    }
    .link{
        float: right;
        display: flex;
        align-items: center;
        color:black;
        svg{
            width: 20px;
            margin-right: 10px;
            *{
                transition:.3s ease-in all;
            }
        }
        &:hover{
            border-color:transparent;
            color: #6d6d6d;
            svg{
                circle{
                    fill:#6d6d6d
                }
                
            }
        }
    }
}   