/*******pop-up*********/

.black {
    &-in {
        animation: black-in .5s forwards;
    }
    &-out {
        animation: black-out .5s forwards;
    }
}

.blur {
    &-in {
        animation: blur .5s forwards;
    }
    &-out {
        animation: blur-out .5s forwards;
    }
}

.pop-up {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    .box {
        width: 50%;
        max-width: 550px;
        background-color: white;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
        z-index: 4;
        h3 {
            position: relative;
            border-radius: 10px 10px 0 0;
            margin: 0 auto;
            text-align: center;
            padding-top: 15px;
            padding-bottom: 15px;
            letter-spacing: 3px;
            // color: #fff;
            // background-color: $pri_red;
            font-size: $fs-max;
            &.black {
                background-color: #000;
            }
            &.order_title {
                background-color: transparent;
                height: 150px;
                background-size: cover;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .p_content {
            max-width: 450px;
            padding: 40px 20px;
            margin: auto;
            p {
                font-size: $fs-min;
                color: dimgray;
                margin-bottom: 10px;
                &.title {
                    font-size: $fs-mid;
                    @include rwd(phone) {
                        font-size: $fs-min;
                    }
                }
                &.title2 {
                    font-size: $fs-mid;
                    text-align: left;
                    padding-bottom: 20px;
                    @include rwd(phone) {
                        font-size: $fs-min;
                        padding-bottom: 0;
                    }
                }
                &.alert {
                    display: table;
                    margin: auto;
                    text-align: center;
                    span {
                        display: table-cell;
                        vertical-align: middle;
                        font-size: ($fs-max+3);
                        margin: 0 15px;
                        &.line {
                            display: inline-block;
                            width: 1px;
                            height: 29px;
                            background-color: dimgray;
                        }
                        button {
                            color: dimgray;
                            border: 0px solid transparent;
                            background-color: transparent;
                            &:hover {
                                color: darken(dimgray, 40%);
                            }
                        }
                    }
                }
                &.cancel_p {
                    min-height: 150px;
                    font-size: 22px;
                    letter-spacing: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: black;
                }
            }
            input {
                background-color: #EEEEEE;
                border-radius: 3px;
            }
            .st1 {
                display: inline-block;
                background-color: #E9827F;
                color: white;
                width: 130px;
                height: 40px;
                // border-radius:4px;
                letter-spacing: 3px;
                text-align: center;
                border: 0px solid transparent;
                font-size: $fs-mid;
                position: relative;
                @include rwd(phone) {
                    width: 100px;
                    height: 30px;
                    font-size: $fs-min;
                }
            }
            .p_img {
                &:after {
                    content: '';
                    width: 1px;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: #ccc;
                }
            }
        }
    }
    .pop_button {
        margin-top: 30px;
        button {
            background-color: transparent;
            border: 0px solid transparent;
            color: $pri_red;
            width: 150px;
        }
    }
    .button {
        margin: 0 auto;
        background-color: #FF8566;
        margin-bottom: 33px;
    }
    .button:hover {
        background-color: #7CCF29;
        box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
    }
    .close-button {
        transition: all 0.5s ease;
        position: absolute;
        right: 15px;
        color: white;
        cursor: pointer;
        z-index:2;
        &:hover {
            color: darken(white, 10%);
        }
    }
}

ul.o_star {
    margin-bottom: 20px;
    li {
        cursor: pointer;
        display: inline-block;
        margin: 0 5px;
        font-size: 25px;
        color: #aaa;
        &.act {
            color: #da3a2b;
        }
    }
}

.order_sub {
    margin-top: 20px;
    input {
        float: left;
        width: 50%;
        text-align: center;
        background-color: transparent !important;
        border: 0px solid transparent;
        color: $pri_red;
        font-size: $fs-mid;
    }
}
