#demo-switch {
  margin: 0px 0px 10px 0px;
  padding: 0px;
  li {
    display: inline-block;
    border: #aaa 1px solid;
    color: #aaa;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 3px 8px;
    margin: 10px 0px 0px 0px;
    font-size: 14px;
    background-color: #ffffff;
    &.active {
      border: #1a1a1a 1px solid;
      background-color: #1a1a1a;
      color: #ffffff;
    }
  }
}

.demo-intro {
  margin-bottom: 30px;
  border: #1a1a1a 1px solid;
  background-color: #ffffff;
  padding: 10px 15px;
  div {
    display: none;
  }
}

.good, .bad {
  border-bottom: #ddd 1px dashed;
}

.good {
  color: #00acc1;
}

.bad {
  color: #e65100;
}

.good .fa, .bad .fa {
  margin-right: 5px;
}

#demo-table, .css-table {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  margin-bottom: 0px;
}

#demo-table {
  td, th {
    padding: 15px;
  }
  tbody{
    tr{
      border-bottom:1px solid #ddd;
    }
  }
}

.css-table {
  .td, .th {
    padding: 5px;
  }
}

#demo-table td, .css-table .td {
  color: #666666;
  // border: #ddd 1px solid;
}

#demo-table th {
  // background-color: #1a1a1a;
  // color: #ffffff;
  // border: #1a1a1a 1px solid;
  text-align: left;
}

.css-table {
  .th {
    background-color: #1a1a1a;
    color: #ffffff;
    border: #1a1a1a 1px solid;
    text-align: center;
  }
  display: table;
  display: none;
  .thead {
    display: table-header-group;
  }
  .tbody {
    display: table-row-group;
  }
  .tr {
    display: table-row;
  }
  .th, .td {
    display: table-cell;
  }
}

@media only screen and (max-width: 960px) {
  .hide-column .large {
    display: none;
  }
  .css-table {
    background-color: transparent;
    .thead {
      display: none;
    }
    .tr {
      display: block;
      border: #ddd 1px solid;
      margin-bottom: 5px;
      background: #ffffff;
    }
    .th, .td {
      display: inline-block;
      width: 48%;
      border: none;
    }
  }
}

@media only screen and (max-width: 767px) {
  .hide-column .mobile {
    display: none;
  }
  .scroll-left {
    &:after, thead:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
    }
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: block !important;
    position: relative;
    th, td {
      margin: 0;
      vertical-align: top;
    }
    th {
      text-align: left;
    }
   
    thead {
      display: block;
      float: left;
    }
    tbody {
      display: block;
      width: auto;
      position: relative;
      overflow-x: auto;
      white-space: nowrap;
    }
    thead tr {
      display: block;
    }
    th {
      display: block;
      text-align: right;
    }
    tbody tr {
      display: inline-block;
      vertical-align: top;
      margin: 0px -4px 0 0;
      // border:1px solid #ddd;
      border-bottom:0px solid transparent;
    }
    td {
      display: block;
      min-height: 1.25em;
      text-align: left;
    }
    th {
      border-bottom: 0;
      border-left: 0;
    }
    td {
      border-left: 0;
      border-right: 0;
      border-bottom: 0;
    }
    tbody tr {
      /*border-left: 1px solid #babcbf;*/
    }
    th:last-child, td:last-child {
      // border-bottom: 1px solid #babcbf;
    }
  }
  /* sort out borders */
  /* Force table to not be like tables anymore */
  .break-table {
    background-color: transparent !important;
    display: block;
    thead, tbody, th, td, tr {
      display: block;
    }
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    tr {
      border: 1px solid #ccc;
      margin-bottom: 10px;
      background-color: #ffffff;
    }
    td {
      /* Behave  like a "row" */
      border: none !important;
      border-bottom: 1px solid #eee !important;
      position: relative;
      padding-left: 35% !important;
      white-space: normal;
      text-align: left;
      &:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 30%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
        color: #1a1a1a;
        content: attr(data-title);
      }
    }
  }
  .css-table {
    .th, .td {
      display: block;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 480px) {
  .hide-column .small {
    display: none;
  }
}

