.loveS_tab-nav {
    margin: 15px 0;
    border-bottom: 1px solid #ddd;
    display: block;
    float: left;
    position: relative;
    width: 100%;

    
    li {
        float: left;
        margin: 0 -3px -1px 0;
        position: relative;
        display: block;
        @media(max-width: 767px){
            width: 100%;
            float: none;
        }
       
        a {
            float: left;
            display: block;
            position: relative;
            border-radius: 0;
            background: #fff;
            color: #333;
            font-size: 14px;
            font-weight: 300;
            padding: 10px 35px;
            border: 1px solid #ccc;
            border-top: 3px solid #ccc;
            @media(max-width:767px){
                width: 100%;
                float: none;
            }
        }
        &.active ,&:hover {
            a{
                background: #fff;
                color: #333;
                border: 1px solid #ddd;
                border-top: 3px solid #333;
            }
        }
        &.active:hover a,&.active a {
            border-top: 3px solid #333;
            border-bottom: 1px solid transparent;
        }


    }
}



.loveS_ticketBox {
    // display: none;
    overflow: hidden;
    margin: 0 0 15px;
    padding: 12px 12px 12px 22px;
    position: relative;
    border: 1px solid #ccc;
    *{
        color: #757575;
    }
    .info {
        position: relative;
    }
    &.payment .categoryTag {
        background: #B073AE;
    }
    &.being .categoryTag {
        background: #6c2268;
    }
    .categoryTag {
        box-sizing: content-box;
        background: #ccc;
        width: 13px;
        height: 100%;
        padding: 0 0 25px;
        position: absolute;
        z-index: 0;
        left: -22px;
        top: -12px;
        transition: all .25s linear;
    }
    .date {
        font-weight: 300;
        margin: 15px 0 0px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-family: Lantinghei TC Extralight;

    }
    .ticketid {
        font-weight: 300;
        margin: 10px 0 0;
        color: #999;
        font-family: Lantinghei TC Extralight;  
    }

    .loveS_ticketStatus {
        float: right;
        display: block;
        @media (max-width: 991px){
            float: left;
            margin: 15px 0 0 -10px;
        }
        div{
            display: inline-block;
            vertical-align: top;
            
            font-size: 16px;
            text-align: center;
            min-width: 75px;
            min-height: 70px;
            margin: 0 0px 0 10px;
            position: relative;
            &.statusColor{
                strong{
                    display: block;
                    margin-bottom: 10px;
                    font-weight: 400;
                    color:black;
                }
                button{
                    background-color: #FA4C91;
                    display: block;
                    color:#eee;
                    font-size: 12px;
                    letter-spacing: 2px;
                    font-weight: 300;
                    border-radius: 8px;
                    padding: 5px 10px;
                    margin: auto;
                    border:0px solid transparent;
                    cursor: pointer;
                    &:hover{
                        background-color: darken(#FA4C91, 10%);
                        color:white;
                    }
                }
            }
        }
        div span {
            position: relative;
            z-index: 100;
            font-size: 14px;
            text-align: center;
            color: #999;
            width: 100%;
            display: block;
        }
    }
    
    .loveS_ticketStatus .btn_detail, .loveS_ticketStatus div {
        color: #333;
        padding: 8px;
    }
    .btn_detail{
        label.tri-angle{
            span{
                display: inline-block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 8px 8px 0 8px;
                border-color: #aaa transparent transparent transparent;
                position: relative;
                top: 0px;
                transition: all .25s linear;
                z-index: 0;

            }
        }
        input{
            display: none;
            &:checked + label.tri-angle {
                span{
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 8px 8px 8px;
                    border-color: transparent transparent #666 transparent;
                    top: -5px;

                }
            }
        }
    }
}
.table-responsive {
    &.hide{
        display: none;
    }
    margin: 12px -12px -12px -22px;
    padding: 0 0 0 10px;
    position: relative;
    @media (max-width: 991px){
        width: auto;
        overflow-y: hidden;
        overflow-x: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ccc;
        -webkit-overflow-scrolling: touch;
    }
    .tag {
        width: 12px;
        height: 100%;
        display: block;
        position: absolute;
        z-index: 100;
        background: #ccc;
        left: 0;
        top: 0;
    }
    table {
        *{font-size: 16px;}
        border-top: 1px solid #ddd;
        margin: 0;
        width: 100%;
        word-wrap: break-word;
        max-width: 100%;
        background-color: transparent;
        border-collapse: collapse;
        border-spacing: 0;
        thead:first-child>tr:first-child>th {
            border-top: 0;
        }
        thead th {
            text-align: left;
        }
        &.table>thead>tr>th {
            vertical-align: bottom;
            border-bottom: 2px solid #ddd;
            padding: 8px;
            line-height: 1.428571429;
            // background: #f8f8f8;

        }
        tbody{
           td{
                white-space: nowrap;
                padding: 8px;
                line-height: 1.428571429;
                vertical-align: top;
                border-top: 1px solid #ddd;
                // background: #f8f8f8;
                color: #757575;
                font-weight: 300;
                text-align: left;
            } 
        }
        

    }
}