
*{
	list-style-type: none;
    // font-family: "HelveticaNeue", "Helvetica Neue","Microsoft JhengHei", Helvetica;
    // font-family: 'Noto Sans TC','Noto Sans SC','Noto Sans Japanese','Microsoft JhengHei', Arial;
}
a{cursor:pointer;}
label.error{
	margin-top: 5px;
	margin-bottom: 0;
	color:white;
	letter-spacing:1px;
	font-weight: 300;
	margin-left: 5px;
	letter-spacing:.5px;
}
.small{font-size:12px;}
.bold{font-weight: 600;}
.bg_title{
	display:flex;
	align-items: center;
	justify-content:center;

	header{
		font-size:40px;
		color:#fff;
		letter-spacing:2px;
		text-shadow: 1px 1px 0px #6f6a6a;
		z-index: 3;
	}
}
.img-responsive-center {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left:auto;
    margin-right: auto;
}
.vertical-top{
    vertical-align:top;
}
.vertical-mid{
    vertical-align:middle;
}
.vertical-bot{
    vertical-align:bottom;
}

.img-rwd{width: 100%;height: auto;display:block}

.img-responsive{
	&.center{
		margin-left: auto;
		margin-right: auto;
	}
}
.red{
	color:$pri_red;
}
.white{
	color:white;
}
.greyimg{
	filter:invert(.5);
}
.form-control{
	border-radius:0;
}
textarea{
	resize:none;
}

.Ccontainer{
	padding-left: 15px;
	padding-right: 15px;
	margin-right: auto;
	margin-left: auto;
	@media (min-width: 768px){
	    width: 100%;
	}
	@media (min-width: 1200px){
		width: 1170px;
	}
}

.botton_style1{
    border:1px solid #000;
    padding:10px 50px;
    font-size:18px;
    color:#000;
    @include rwd(phone){
        font-size:16px;
        padding:10px 30px;
    }
    &:hover{
        color:#000;
    }
}
a,a:hover{
    text-decoration: none;
}
ul{
	padding-left: 0;	
}
ul.inlineblock{
	li{
		display:inline-block;
	}
}

.flex{
	display:flex;
	justify-content:center;
	&_block{
		@include rwd(phone){
			display:block;
		}
	}
	&.center{
		align-items:center;
	}
	&.top{
		align-items:top;
	}
	&.bottom{
		align-items:bottom;
	}
}
.t{
	display:table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    margin: auto;
    .t_cell{
    	display: table-cell;
    	float: none;
    	height: 100%;
        &_top{
        	display: table-cell;
        	float: none;
        	height: 100%;vertical-align: top;
    	}
        &_mid{
        	display: table-cell;
        	float: none;
        	vertical-align: middle;
        	height: 100%;
    	}
        &_bot{
        	display: table-cell;
        	float: none;
        	height: 100%;
        	vertical-align: bottom;
    	}
    }

}
.prow{
	@media(max-width: 767px){
		margin-left: -15px;
		margin-right: -15px;
	}
}
.mrow{
	@media(min-width: 768px){
		margin-left: -15px;
		margin-right: -15px;
	}
}

.borderBot{
	&:after{
		content:'';
		display: block;
		background-color: #ddd;
		height: 1px;
		width: 100%;
		margin:0 0 30px 0 ;

	}
}


.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}
.fullbg{
	&.blur{
		&:after{
			content:'';
			width: 100%;
			height: 100%;
			position:absolute;
			left: 0;
			top: 0;
			background-color: rgba(0,0,0,.3);
		}
	}
}

/******tabel rwd **********/
.table-bordered {
  border: 0px solid transparent;
  thead > tr > {
    th, td {
      border: 0px solid transparent;
    }
  }
  tbody > tr > {
    th, td {
      border: 0px solid transparent;
      padding:10px;
      text-align: center;
      .mb_text{display:none;}
    }
  }
  tfoot > tr > {
    th, td {
      border: 0px solid transparent;
    }
  }
}
/*這是額外做顏色，沒有什麼意義*/
.tr-only-hide {color: $pri_black;border-bottom:1px solid transparent;}
@media (max-width: 767px) {	
	#table-rwd{min-width: 100%;}
	/*針對tr去做隱藏*/
	.tr-only-hide {display: none !important;}
	/*讓tr變成區塊主要讓他有個區塊*/
	#table-rwd tr{
		display: block;
		border: 1px solid #9a9a9a;
		margin-bottom: 15px;
		
		td {
		    text-align: left;
		    font-size: 15px;
		    overflow: hidden;
		    width: 100%;
		    display: block;
		    &:before {
		        content: attr(data-th)" :";
		        margin-right: 5px;
		        color:#e53a31;
		        font-weight: 500;
		       
		    }
		    .mb_text,.mb_text_inline{
		    	font-size:$fs-mid;
		    	margin-bottom: 0;
		    	text-transform: uppercase;
		    	font-weight: bold;
		    	color: #E53A31;
		    }
		    .mb_text{
		    	display:block;
		    	&_inline{
		    		width: 60px;
		    		display:inline-block;
		    		margin-right: 10px;
		    	}
		    }
		}
	}
  /*當RWD縮小的時候.table-bordered 會有兩條線，所以針對.table-bordered去做修正*/
  #table-rwd.table-bordered td,.table-rwd.table-bordered th,.table-rwd.table-bordered{border:0;}
  
}
