/* browser varible*/
$browser-small: 767px;
$browser-large: 1023px;

/*color*/
$pri_black : #343535;
$pri_yellow : #ffdc35;
$pri_red : #da203b;
$pri_blue : #014d9b;
$pri_peach	:#F37A61;

$pri_grey: #848788;
$pri_green: RGBA(82, 139, 86, 1.00);
$sec_green: #69C675;
// $pri-pink: #E886AA;
$pri_purple:#341132;
$pri_pink:hsla(335, 86%, 62%,1);

/****mb*********/
$mb60 : 60px;
/***font-size**/
$fs_min:12px;
$fs_mid:15px;
$fs-max:17px;