$dark-green: #2a3325
$middle-green: #536f4f
$light-green: #637a62
$very-light-green: #edeee8
$max-light-green: #f6f7f4

//==========.arrow-btn==========
.arrow-btn
	text-align: center
	margin-top: 40px
	cursor: pointer
	button
		letter-spacing: 5px
		background: none
		border: 1px solid black
		padding: 10px 50px
		img
			display: inline-block
			width: 20px
			vertical-align: -4px
			margin-right: 20px



//======.green-decor-title======
.green-decor-title
	font-weight: 400
	//margin-bottom: 30px
	position: relative
	//margin: 0 -50px
	margin-bottom: 30px
	display: flex
	//align-items: center
	.decor-squ
		background: $middle-green
		//height: 40px
		width: 20px
		transform: scaleY(1.1)
		display: inline-block
		margin-right: 30px
		//vertical-align: -8px
//==============.pagination==============
.pagination
	text-align: center
	margin-top: 50px
	ul
		margin: 0
		width: 100%
		li
			display: inline-block
			border: 1px solid rgba(black, 0.1)
			width: 30px
			height: 30px
			padding-top: 3px
			cursor: pointer
			transition: .3s
			a
				color: $dark-green
				font-weight: 300
			&:hover
				background: $dark-green
				a
					color: white
//=============top-bottom-empty==========
.top-bottom-empty
	background-size: cover
	background-position: center bottom
	padding-bottom: 300px
	//background-image: url("../img/order/bg02.jpg")
	

		
	.main-title-bottom
		//background-image: url("../img/order/bg02.jpg")
		background-size: cover
		background-position: center center
		position: relative
		&:before
			content: ""
			position: fixed
			width: 100%
			height: 100%
			z-index: -1
			background-image: url("../img/order/bg02.jpg")
			background-size: cover
			background-position: center center
		
		
	.main-title
		text-align: center
		padding: 120px 0
		color: white
		h1
			font-weight: 400
			letter-spacing: 3px
	.green-decor-title
		div
			font-size: 22px


//===============form-wrap================






.info-bottom
	padding: 100px 0
	background: white
	.form-wrap
		transform: translateX(50px)
		@media (max-width: 992px)
		 	transform: translate(0)
		.item-wrap
			display: flex
			margin-bottom: 20px
			align-items: center
			position: relative
			label, .label
				width: 100px
				margin-bottom: 0
				font-weight: 300
			.label
				width: 80px
				margin-right: 20px
			.input-wrap
				flex: 1
				position: relative
			input, span, textarea
				letter-spacing: 3px
				width: 100%
				font-weight: 300
				padding: 15px 20px
			input, textarea
				background: $max-light-green
				border: none
				&:focus
					box-shadow: 0 2px 8px rgba(black, 0.3)
					outline: none
					border: 1px solid $middle-green
			span
				word-break: break-all
				a
					color: $light-green
					&:hover
						text-decoration: underline
			input[type="date"]::-webkit-inner-spin-button
				appearance: none
			.date-wrap
				//display: inline-block
				position: relative
				//margin-right: 15px
				&:before, &:after
					position: absolute
					content: "▼"
					top: 50%
					transform: translateY(-50%)
					color: transparent
					right: 20px
					pointer-events: none
					background-image: url("../img/svg/birthday_icon.svg")
					//background: $max-light-green
				&:before
					background: $max-light-green
			.select-wrap
				display: inline-block
				position: relative
				margin-right: 15px
				width: 30%
				min-width: 120px
				@media (max-width: 576px)
					width: 100%
					&:nth-child(1)
						margin-bottom: 25px
				&:before
					position: absolute
					content: "▼"
					top: 50%
					transform: translateY(-50%)
					color: $middle-green
					right: 10px
					pointer-events: none
				select
					width: 100%
					appearance: none
					padding: 15px 20px
					padding-right: 50px
					border: none
					border-radius: 0
					background: $max-light-green
					font-weight: 300
					&:focus
						box-shadow: 0 2px 8px rgba(black, 0.3)
						outline: none
						border: 1px solid $middle-green
		.btn-area
			padding: 30px 0
			button
				background: $middle-green 
				color: white
				border: none
				font-weight: 300
				padding: 15px 60px
				letter-spacing: 5px
				transition: .3s
				cursor: pointer
				&:hover
					background: black !important

//========================
.form-wrap-t2
	.input-wrap
		display: flex
		padding: 20px 0
		//justify-content: center
		align-items: center
		label
			width: 100px
			white-space: nowrap
			margin-top: 5px
			@media (max-width: 576px)
				width: 80px

		input, textarea
			width: 80%
			background: #f6f7f4
			//border: 1px solid $middle-green
			border: none
			padding: 15px 20px
			flex: 1
			&:focus
				box-shadow: 0 2px 8px rgba(black, 0.3)
				outline: none
				border: 1px solid $middle-green
		::placeholder
			font-weight: 300

//=====blur-class=====
.blur-class
	filter: blur(10px)

//=================
.placeholderclass
	overflow: hidden
	max-width: 175px
	min-width: 100%
	&:before
		content: attr(placeholder)
		position: absolute
		color: #666
		background: $max-light-green
		width: 70%
		overflow: hidden


#forget-pswd-suc
	#email-error
		bottom: -20px
		left: 0

#reset-pswd
	label.error
		left: 0
		bottom: -20px
		max-width: 250px
	.btn-area.apply-btn-area
		button
			@media (max-width: 576px)
				width: 100%


















