@mixin ab_center
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)


*
	letter-spacing: 2px	
	//border: 1px solid #000

@import "el"
$dark-green: #2a3325
$middle-green: #536f4f
$light-green: #637a62
$very-light-green: #edeee8
$max-light-green: #f6f7f4
//============news-inner==============
.container
	@media (min-width: 768px)
		//padding: 0 100px
		padding-left: 100px
		padding-right: 100px
	@media (min-width: 1200px)
		padding-left: 15px
		padding-right: 15px 


section#news-inner
	padding: 80px 0
	.banner-wrap
		img
			width: 100%
	.content-wrap
		padding: 30px 50px
		text-align: left
		font-size: 16px
		font-weight: 300
		color: #666
		.title
			margin: 0 -50px
			margin-bottom: 30px
			div
				font-size: 24px
		@media (max-width: 768px)
			padding: 30px 0
			.title
				margin-right: 0
				margin-left: 0
		.content
			p
				line-height: 28px
				text-align: justify

			img
				width: 50%
				margin-bottom: 30px
	.btn-area
		text-align: center
		margin-top: 40px
		button
			letter-spacing: 5px
			background: none
			border: 1px solid black
			padding: 10px 50px
			transition: .3s
			cursor: pointer
			.fa
				font-size: 20px
				vertical-align: -1px
				margin-right: 10px
			&:hover
				background: black
				color: white
				font-weight: 300


//============footer-terms==============
section#footer-terms
	background: #e5e4e2
	padding: 80px 0
	.content-wrap
		.main-title
			letter-spacing: 3px
			font-weight: 400
			text-align: center
			margin-top: 20px
			margin-bottom: 120px 
			@media (max-width: 768px)
				margin-bottom: 100px
		.title
			margin-bottom: 80px
			@media (max-width: 768px)
				margin-bottom: 50px
			div
				font-size: 20px
		.content
			p
				font-weight: 300
				letter-spacing: 3px
				line-height: 30px
				@media (max-width: 768px)
					line-height: 25px
	.btn-area
		margin: 50px 0
		button
			cursor: pointer
			transition: .3s
			.fa
				font-size: 20px
				vertical-align: -1px
				margin-right: 10px
			&:hover
				background: black
				color: white
				font-weight: 300
.leaf-img
	img
		width: 100%


//============about==============
section#about
	padding: 80px 0
	color: #666
	.banner-wrap
		img
			width: 100%
	.container-p
		padding-top: 60px
		padding-bottom: 60px
	.green-decor-title
		div
			font-size: 20px
	.content-wrap
		font-weight: 300
		p
			line-height: 30px
			letter-spacing:  3px
			text-align: justify
	.middle-text
		text-align: center
		padding: 40px 15px
		background: #fafbf5
		font-size: 20px
	.svg-text-area
		.img-wrap
			text-align: center
			padding-top: 50px
			padding-bottom: 40px
			@media (max-width: 768px)
				padding-bottom: 10px
			img
				width: 100px
		.title-area
			text-align: center
			p
				font-size: 20px
				margin-bottom: 5px
		.text-wrap
			margin-top: 20px
			p
				font-weight: 300
				line-height: 25px
				letter-spacing: 3px
		&:hover
			font-weight: 500
			color：#212529

//=======contact-us=========
section#contact-us
	//background-image: url("../img/contact-us/BG.jpg")
	background-size: cover
	background-position: center center
	.title-area
		text-align: center
		padding: 120px 0
		h1
			color: white
			font-weight: bold
			letter-spacing: 3px
			transition: .3s
	.green-decor-title
		div
			font-size: 20px
			color: #666
	.main-title-bottom
		&:before
			background-image: url("../img/contact-us/BG.jpg")


	.bottom-wrap
		padding: 100px 0
		padding-bottom: 0px
		background: white
		font-weight: 300
		@media (max-width: 768px)
			padding: 50px 0
			padding-bottom: 0
		.content-wrap
			margin-bottom: 100px
			@media (max-width: 768px)
				margin-bottom: 50px
		.content
			.line-wrap
				margin-bottom: 20px
				img
					width: 100%
					max-width: 200px
					transition: .3s
					&:hover
						transform: scale(1.05)
			p
				margin-bottom: 20px
				line-height: 30px
	.form-wrap
		.input-wrap
			position: relative
			display: flex
			padding: 10px 0
			//justify-content: center
			align-items: center
			label
				width: 100px
				white-space: nowrap
				margin-top: 5px
				@media (max-width: 576px)
					width: 80px

			input, textarea
				width: 80%
				background: #f6f7f4
				//border: 1px solid $middle-green
				border: none
				padding: 15px 20px
				flex: 1
				&:focus
					box-shadow: 0 2px 8px rgba(black, 0.3)
					outline: none
					border: 1px solid $middle-green
			::placeholder
				font-weight: 300
		.textarea
			align-items: flex-start
			label
				margin-top: 15px
	.btn-area
		text-align: right
		padding: 30px 0
		@media (max-width: 576px)
			display: flex
			justify-content: space-around
			padding: 14px 0px
		input
			margin-left: 20px
			cursor: pointer
			padding: 14px 80px
			border: none
			background: $middle-green
			color: white
			font-weight: 300
			letter-spacing: 3px
			transition: .3s
			&:hover
				background: black
				color: white
			@media (max-width: 576px)
				margin: 0
				margin-bottom: 20px
				display: inline-block
				padding: 14px 0
				flex: 1
				&:nth-child(1)
					margin-right: 10px
				//max-width: 200px
				//width: 100%
label.error
	position: absolute
	color: red
	bottom: -7px
	left: 100px
	font-size: 14px
	letter-spacing: 3px
	white-space: initial !important
	width: 300px !important
	//word-break: break-all
	@media (max-width: 400px)
		left: 80px
		white-space: initial
		max-width: 130px

	&:before
		content: "*"





//==========product-inner==============
section#product-inner
	padding-top: 50px
	padding-bottom: 50px
	color: #666
	.product-img
		@media (max-width: 576px)
			display: none
		.img-wrap
			position: relative
			overflow: hidden
			padding-bottom: 80%
			img
				width: 100%
				position: absolute
				+ab_center
	.img-slider-wrap
		.img-wrap
			position: relative
			overflow: hidden
			padding-bottom: 70%
			margin-left: 3px
			margin-right: 3px
			border: 1px solid rgba(black, 0.3)
			&:hover
				img
					width: 110%
			img
				transition: .3s
				width: 100%
				position: absolute
				+ab_center
		.slick-prev:before, .slick-next:before
			color: black
		.slick-prev:before
			content: '►'
			display: block
			transform: scaleX(-1)
			transform-origin: center center
		.slick-next:before
			content: "►"
		@media (max-width: 576px)
			.slick-next
				z-index: 1
				right: 10px
			.slick-prev
				z-index: 1
				left: 10px
	.product-title
		background: $very-light-green
		padding: 10px 30px
		@media (max-width: 992px)
			margin-top: 50px

		.main-title
			font-size: 28px
			letter-spacing: 5px
			color: black
		.sub-title
			font-size: 18px
			color: #666
	.product-text
		padding: 10px 30px
		@media (max-width: 576px)
			padding-left: 0px
			padding-right: 0px
		p
			font-weight: 300
			line-height: 30px
			text-align: justify
			@media (max-width: 991px)
				line-height: 25px
		hr
			transform: scale(1.1)
	.product-form-wrap
		padding: 10px 30px
		font-weight: 300
		@media (max-width: 576px)
			padding-left: 0px
			padding-right: 0px
		.item
			display: flex
			margin-bottom: 20px
			label
				width: 100px
				white-space: nowrap
				margin-right: 5px
			span
				flex: 1
				//white-space: nowrap
				margin-right: -200px
				@media (max-width: 991px)
					margin-right: 15px
			.select-wrap
				width: 40%
				position: relative
				@media (max-width: 992px)
					//width: 100%
					flex: 1
				&:after
					content: "▼"
					display: block
					position: absolute
					right: 0
					top: 50%
					transform: translateY(-60%)
					pointer-events: none
					color: $middle-green
					
			select
				margin-top: 2px
				width: 100%
				font-weight: 300
				appearance: none
				border: none
				background: none
				cursor: pointer
		.add-to-cart
			height: 100%
			display: flex
			align-items: flex-end
			padding-bottom: 20px
			input
				width: 180%
				margin-left: -25px
				margin-right: -25px
				font-weight: 100
				background: $middle-green
				border: none
				color: white
				padding: 15px 0
				cursor: pointer
				transition: .3s
				@media (max-width: 576px)
					margin: 0
				&:hover
					background: black
					color: white
	.product-banner
		margin-top: 30px
		img
			width: 100%
	.item-wrap
		padding: 30px 0
		color: #666
		border-bottom: 1px solid rgba(black, 0.2)

		.title
			.decor-squ
				transform: scaleY(1.2)
			div
				font-size: 20px !important
		.intro-text
			p
				font-weight: 300
				line-height: 33px
				margin-bottom: 0
	.col-12
		&:nth-last-child(1)
			.item-wrap
				border: none

//=========mix-product==========
section#mix-product
	padding: 90px 0
	.container
		@media (min-width: 1200px)
			padding-left: 50px
			padding-right: 50px 
		@media (max-width: 992px)
			padding-left: 50px
			padding-right: 50px
		@media (max-width: 768px)
			padding-left: 15px
			padding-right: 15px
	.main-title
		font-family: 'Lobster Two', cursive
		text-align: center
		font-weight: bold
	.bottom-wrap
		background: white
		margin: 35px 0
		box-shadow: 0 5px 20px 0px rgba(black, 0.2)
		.row
			margin: 0
		.col-12
			padding: 0
		&:hover
			.img-wrap
				img
					width: 110%
	.img-wrap
		position: relative
		overflow: hidden
		padding-bottom: 65%
		height: 100%
		img
			position: absolute
			transition: .3s
			width: 105%
			+ab_center
	.text-wrap
		padding: 0 50px
		padding-top: 50px
		padding-bottom: 30px
		height: 100%
		@media (max-width: 576px)
			padding-top: 30px
			padding-left: 20px
			padding-right: 20px
		.product-intro
			font-weight: 300
			h1
				font-weight: 400
				@media (max-width: 991px)
					font-size: 30px
			h3
				font-weight: 400
				color: #cc2e3f
				@media (max-width: 991px)
					font-size: 25px
			p
				font-size: 18px
				margin-bottom: 10px
			.content
				margin-top: 40px
				@media (max-width: 576px)
					margin-top: 20px
	.see-more-area
		text-align: right
		margin-top: 50px
		@media (max-width: 576px)
			margin-top: 30px
		button
			border: none
			background: none
			cursor: pointer
			transition: .3s
			&:hover
				transform: translateX(5%)
				text-shadow: 0 1px 10px rgba(black, 0.2)
			img
				width: 20px
				display: inline-block
				vertical-align: -4px
				margin-right: 10px
	// .pagination
	// 	text-align: center
	// 	margin-top: 50px
	// 	ul
	// 		margin: 0
	// 		width: 100%
	// 		li
	// 			display: inline-block
	// 			border: 1px solid rgba(black, 0.1)
	// 			width: 30px
	// 			height: 30px
	// 			padding-top: 5px
	// 			cursor: pointer
	// 			transition: .3s
	// 			a
	// 				color: $dark-green
	// 				font-weight: 300
	// 			&:hover
	// 				background: $dark-green
	// 				a
	// 					color: white


//==========mix-product-inner==============
section#mix-product-inner
	padding-top: 50px
	padding-bottom: 50px
	color: #666
	.product-img
		@media (max-width: 576px)
			display: none
		.img-wrap
			position: relative
			overflow: hidden
			padding-bottom: 80%
			img
				width: 100%
				position: absolute
				+ab_center
	.img-slider-wrap
		.img-wrap
			position: relative
			overflow: hidden
			padding-bottom: 70%
			margin-left: 3px
			margin-right: 3px
			border: 1px solid rgba(black, 0.3)
			&:hover
				img
					width: 110%
			img
				transition: .3s
				width: 100%
				position: absolute
				+ab_center
		.slick-prev:before, .slick-next:before
			color: black
		.slick-prev:before
			content: '►'
			display: block
			transform: scaleX(-1)
			transform-origin: center center
		.slick-next:before
			content: "►"
		@media (max-width: 576px)
			.slick-next
				z-index: 100
				right: 10px
			.slick-prev
				z-index: 100
				left: 10px
	.product-title
		background: $very-light-green
		padding: 10px 30px
		@media (max-width: 992px)
			margin-top: 50px

		.main-title
			font-size: 28px
			letter-spacing: 5px
			color: black
		.sub-title
			font-size: 18px
			color: #666
	.product-text
		padding: 10px 30px
		@media (max-width: 576px)
			padding-left: 0px
			padding-right: 0px
		p
			font-weight: 300
			line-height: 30px
			text-align: justify
			@media (max-width: 991px)
				line-height: 25px
		hr
			transform: scale(1.1)
	.product-form-wrap
		padding: 10px 30px
		font-weight: 300
		//height: 100px
		@media (max-width: 576px)
			padding-left: 0px
			padding-right: 0px
		.item
			display: flex
			margin-bottom: 20px
			label
				width: 100px
			span
				flex: 1
				margin-right: -200px
				@media (max-width: 991px)
					margin-right: 15px
			.select-wrap
				width: 40%
				position: relative
				@media (max-width: 992px)
					//width: 100%
					flex: 1
				&:after
					content: "▼"
					display: block
					position: absolute
					right: 0
					top: 50%
					transform: translateY(-60%)
					pointer-events: none
					color: $middle-green
					
			select
				margin-top: 2px
				width: 100%
				font-weight: 300
				appearance: none
				border: none
				background: none
				cursor: pointer
		.add-to-cart
			height: 100%
			display: flex
			align-items: flex-end
			padding-bottom: 20px
			padding-top: 180px
			@media (max-width: 991px)
				padding-top: 50px
			input
				width: 180%
				margin-left: -25px
				margin-right: -25px
				font-weight: 100
				background: $middle-green
				border: none
				color: white
				padding: 15px 0
				cursor: pointer
				transition: .3s
				@media (max-width: 576px)
					margin: 0
				&:hover
					background: black
					color: white
	.product-banner
		img
			width: 100%
	.item-wrap
		padding: 30px 0
		color: #666
		border-bottom: 1px solid rgba(black, 0.2)

		.title
			.decor-squ
				transform: scaleY(1.2)
			div
				font-size: 20px !important
		.intro-text
			p
				font-weight: 300
				line-height: 33px
				margin-bottom: 0
				text-align: justify
	.col-12
		&:nth-last-child(1)
			.item-wrap
				border: none
	.edm-img
		img
			width: 100%
	.text-area, .insert-img-area
		h4
			font-weight: 400
			color: black
			margin-bottom: 20px
		p
			font-weight: 300
			line-height: 30px
			text-align: justify
	.text-area
		padding: 50px 0
	.insert-img-area
		margin-bottom: 80px
		.insert-img
			margin-top: 40px
			margin-bottom: 20px
			img
				width: 100%


section.all-product-assemble
	padding: 60px 0
	.container
		padding-right: 15px !important
		padding-left: 15px !important
	h2
		font-weight: 400
		margin-bottom: 30px !important
		div
			font-size: 40px
		.en
			font-family: 'Lobster Two', cursive
			font-weight: 500
		.cn
			font-family: '微軟正黑體'
	.pagination
		margin-top: 60px
	.img-banner
		padding-bottom: 50px
		img
			width: 100%


section#order-list
	//background-image: url("../img/order/bg02.jpg")
	.list-title
		padding: 10px 20px
		border: 1px solid #ddd
		@media (max-width: 991px)
			display: none
	.list-wrap
		.list:nth-child(1)
			@media (max-width: 991px)
				border-top: 1px solid #ddd

	.list
		border: 1px solid #ddd
		border-top: none
		font-weight: 300
		padding: 8px 20px
		&:hover
			background: #eee
		.row 
			> 
				div
					display: flex
					align-items: center
					&:nth-last-child(1)
						justify-content: flex-end
		span
			//margin-top: 5px 
			vertical-align: middle
			white-space: nowrap
			//transform: translateY(-100%)
			//line-height: 40px
		button
			padding: 8px 40px
			border: none
			color: white
			font-weight: 300
			background: $middle-green
			letter-spacing: 3px
			white-space: nowrap
			transition: .3s
			cursor: pointer
			@media (max-width: 991px)
				margin-top: 20px
				border-top: 1px solid #ddd
			&:hover
				color: white
				background: black
	.title.green-decor-title
		div
			font-size: 20px
	.order-bottom
		background: white
		padding: 100px 0
	.item-title
		font-weight: 500
		white-space: nowrap
			/* style */
		@media (min-width: 992px)
			display: none


section#order
	//background-image: url("../img/order/bg02.jpg")
	.status
		font-size: 18px
	.date
		text-align: right
		color: #777
		font-weight: 300
		@media (max-width: 991px)
			text-align: left
			margin: 10px 0
	
	.list-title
		padding: 10px 40px
		border: 1px solid #ddd
		div
			text-align: center
			div
				&:nth-child(1)
					text-align: left
				&:nth-last-child(1)
					text-align: right

		@media (max-width: 991px)
			display: none
	.list-wrap
		.list:nth-child(1)
			@media (max-width: 991px)
				border-top: 1px solid #ddd

	.list
		border: 1px solid #ddd
		border-top: none
		font-weight: 300
		padding: 10px 40px
		@media (max-width: 576px)
			padding: 10px 20px
		&:hover
			background: #eee
		.row 
			> 
				div
					display: flex
					align-items: center
					justify-content: center
					@media (max-width: 991px)
						justify-content: flex-start
						align-items: flex-start
					&:nth-child(1)
						justify-content: flex-start
					&:nth-last-child(1)
						justify-content: flex-end
						@media (max-width: 991px)
							justify-content: flex-start
		span
			//margin-top: 5px 
			vertical-align: middle
			line-height: 25px
			//white-space: nowrap
			//transform: translateY(-100%)
			//line-height: 40px
		button
			padding: 8px 40px
			border: none
			color: white
			font-weight: 300
			background: $middle-green
			letter-spacing: 3px
			white-space: nowrap
			transition: .3s
			cursor: pointer
			@media (max-width: 991px)
				margin-top: 20px
				border-top: 1px solid #ddd
			&:hover
				color: white
				background: black
	.title.green-decor-title
		div
			font-size: 20px
	.order-bottom
		background: white
		padding: 100px 00px
	.item-title
		font-weight: 500
		white-space: nowrap
		@media (min-width: 992px)
			display: none
	.total-area
		padding: 10px 40px
		@media (max-width: 576px)
			padding: 10px 20px
		.container
			padding: 0
		.total
			display: flex
			justify-content: flex-end
			.total-list
				.item
					display: flex
					span
						padding: 10px 0
						font-weight: 300
						&:nth-last-child(1)
							margin-left: 60px
							flex: 1
							text-align: right
					&:nth-last-child(1)
						span
							font-weight: 400
							&:nth-last-child(1)
								color: #bf0900

	hr
		border-bottom: 1px solid $middle-green
		margin-bottom: 50px
	.list-bottom
		.text-wrap
			margin-bottom: 40px
		.bt-title
			font-size: 20px
			margin-bottom: 20px
		.item-wrap
			padding: 5px 0
			display: flex
			span
				font-weight: 300
				position: relative
				
				&:nth-child(1)
					width: 150px
				&:nth-child(2)
					flex: 1
			.track-btn
				border: none
				background: $middle-green
				color: white
				font-weight: 300
				font-size: 14px
				padding: 8px 15px
				cursor: pointer
				margin-left: 30px
				transition: .3s
				position: absolute
				top: 50%
				left: 120px
				transform: translateY(-50%)
				@media (max-width: 576px)
					transform: translateY(0%)
					left: 0
					position: relative
					display: block
					margin: 10px 0
					white-space: nowrap
				&:hover
					background: black
	.prev-btn
		text-align: center
		padding: 50px 0
		button
			border: none
			background: $middle-green
			color: white
			font-weight: 300
			font-size: 16px
			padding: 16px 100px
			cursor: pointer
			transition: .3s
			white-space: nowrap
			text-align: center
			@media (max-width: 576px)
				padding: 16px 0
				width: 100%
			&:hover
				background: black
	.order-bottom > .container, .list-bottom > .container
		max-width: 900px


section#person-info
	background-image: url("../img/order/bg02.jpg")
	.info-bottom
		padding: 100px 0
		background: white
	label.error
		bottom: -20px
		left: 0
		min-width: 200px

							
section#person-login-register
	.form-wrap
		max-width: 450px
		@media (max-width: 1200px)
			max-width: 100%
		@media (max-width: 1200px)
			margin-bottom: 100px
	.btn-area
		margin-left: -50px
		display: flex
		justify-content: space-between
		@media (max-width: 992px)
			margin-left: 0
		@media (max-width: 576px)
			display: block
			button
				display: block
				width: 100% !important
 
		button
			margin-bottom: 20px
			letter-spacing: 2px
			padding: 15px 0px
			width: 45%
			

		.fa
			transform: scale(1.8)
			margin-right: 10px
		.fb-btn
			background: #4166b2
			padding: 15px 0px
	.checkbox-area
		display: flex
		label
			margin-left: 10px
			font-size: 14px
			color: #777
	.apply-btn-area
		justify-content: center

	.forget-pswd-link
		color: $middle-green
		text-decoration: underline
		&:hover
			color: black
	label.error
		bottom: -20px
		left: 0
		min-width: 200px
.mask
	position: fixed
	width: 100vw
	height: 100vh
	background: rgba(black, 0.6)
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	z-index: 2000

.forget-pswd-page
	position: fixed
	z-index: 2001
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	padding: 0
	overflow: hidden
	border-radius: 10px
	box-shadow: 0 1px 20px rgba(black, 0.6)
	.form-wrap
		transform: translateX(0px)
		min-width: 300px
		max-width: 700px
		//width: 30%
		margin: 0 auto
		//padding: 20px
		.title
			padding: 20px 0
			text-align: center
			position: relative
			background: $light-green
			span
				color: white
				font-size: 20px
				font-weight: 300
			.close-btn
				position: absolute
				right: 20px
				top: 50%
				transform: translateY(-50%)
				color: white
				cursor: pointer
		form
			padding: 50px 40px
			.item-wrap
				
				@media (max-width: 576px)
					display: block
				label
					width: 120px
				.input-wrap
					width: 300px
					@media (max-width: 768px)
						width: 200px
			.btn-area
				text-align: center
				padding-bottom: 0
		.content
			padding: 30px 60px
			p
				font-weight: 300
				margin-bottom: 10px
			.svg
				text-align: center
				padding-bottom: 20px
				img
					width: 80px
		.content + .btn-area
			text-align: center
			padding: 0
			padding-bottom: 30px





section#news
	//background-image: url("../img/news/bg01.jpg")
	.main-title-bottom
		background-image: none
		&:before
			background-image: url("../img/news/bg01.jpg")
	.white-bottom
		background: white
		padding: 100px 0
		.news-wrap
			display: flex
			color: #666
			border-bottom: 1px dashed $light-green
			padding: 35px 0

			@media (max-width: 576px)
				display: block
				.date
					margin-bottom: 15px
			.date
				width: 180px
				transition: .3s
			.excerpt
				flex: 1
				line-height: 30px
				font-weight: 300
				transition: .3s
			&:hover
				div
					text-shadow: 0 1px 5px rgba(black, 0.2)
	.pagination
		margin-top: 100px



section#shop-cart
	.main-title-bottom
		background-image: url("../img/cart/banner.jpg")
		background-size: cover
		background-position: center center
	.main-title
		padding: 120px 0
		text-align: center
		color: white
		h1
			font-weight: 400
	.cart-form-wrap
		padding: 80px 0
		.green-decor-title
			div
				font-size: 20px
		.container
			margin-bottom: 70px
		.btn-area
			button
				@media (max-width: 576px)
					width: 100%
	.list-bottom
		background: #fafafa
		padding: 20px
		.title-wrap, .list-wrap
			display: flex
			flex-wrap: wrap
		.title-wrap
			text-align: center
			padding: 30px 0
			padding-bottom: 20px
			font-weight: 300
			border-bottom: 1px solid #ddd
			@media (max-width: 991px)
				display: none
		.list-wrap
			padding: 20px 0
			padding-bottom: 30px
			color: #555
			font-weight: 300
			border-bottom: 1px solid #ddd
			.list-inner-title
				white-space: nowrap
				display: none
				font-weight: 400
				@media (max-width: 991px)
					display: inline-block
					margin-right: 20px
			.col-12
				padding: 0
				@media (max-width: 991px)
					display: flex
					align-items: flex-start
					margin-bottom: 20px
			.flex-wraper
				display: flex
				height: 100%
				align-items: center
				justify-content: center
				@media (max-width: 991px)
					display: inline-block
			.product-name-wrap
				justify-content: flex-start
				@media (max-width: 991px)
					display: flex
					width: 100%
				@media (max-width: 576px)
					display: block
				.img-wrap
					position: relative
					overflow: hidden
					width: 100px
					height: 100px
					@media (max-width: 991px)
						//width: 20%
						//padding-bottom: 20%
						//min-width: 80px
					img
						+ab_center
						width: 100%
						
				.text-wrap
					padding: 0 15px
					@media (max-width: 576px)
						padding: 0
						padding-top: 10px
					div
						line-height: 25px
						//word-break: break-all
					.product-name
						font-size: 20px
						font-weight: 400
					.sub-text
			.input-wrap
				width: 50px
				position: relative
				@media (max-width: 576px)
					width: 150px
					border-radius: 0 !important
					input
						text-align: center
				input
					width: 100%
				.spin
					position: absolute
					height: 50%
					font-size: 12px
					color: #666666
					background: #eee
					border: 1px solid #ddd
					cursor: pointer
					display: flex
					justify-content: center
					align-items: center
					@media (max-width: 576px)
						height: 100%
						color: transparent
				.add
					top: 0
					right: 0
					@media (max-width: 576px)
						font-size: 0
						&:before
							content: '+'
							color: #666
							font-size: 16px
							padding-left: 3px
					
					
				.sub
					bottom: 0
					right: 0
					@media (max-width: 576px)
						right: auto
						font-size: 0
						&:before
							content: '-'
							color: #666
							font-size: 16px
							padding-left: 3px
			
					
					
			    
			    
				

						


			.delete-btn
				background: none
				border: none
				cursor: pointer	
				font-size: 20px
				color: #666	
				border-radius: 0
	.total-wrap
		font-weight: 300
		.item-wrap
			display: flex
			margin: 20px -15px
			

			.label
				//width: 115px
				flex: 1
				//text-align: right
				text-align: center
				white-space: nowrap
				@media (max-width: 991px)
					text-align: left
				//margin-right: 100px
			.price
				flex: 1
				text-align: right
				text-align: center		
				@media (max-width: 991px)
					padding-right: 0
			.main-label
				font-size: 16px
				font-weight: 400
			.main-total
				color: #d00e27
				font-size: 18px
				font-weight: 400
	.radio-area
		display: flex
		flex-wrap: wrap
		.radio-wrap.active
			background: #ddd
			border-radius: 10px

		.radio-wrap
			display: inline-block
			//padding: 10px 30px
			transition: .3s
			cursor: pointer
			width: 33%
			display: inline-block
			display: flex
			justify-content: center
			padding: 1vh 0
			max-width: 130px
			.img-wrap
				cursor: pointer
				.text
					margin-top: 20px
					text-align: center
					font-weight: 300
			label
				width: 80% 

			input
				width: 0
				//opacity: 0
				display: none
	.radio-textarea
		padding-top: 40px
		.radio-text-wrap
			p
				line-height: 30px
				letter-spacing: 3px
				font-weight: 300
	.info-bottom
		.form-wrap
			padding-top: 20px
			transform: translateX(0px)
			.item-wrap
				padding: 0 30px
				.store-input
					width: 100px
					padding: 0
					background: none

				@media (max-width: 576px)
					padding: 0
					display: block
				.btn-area
					padding: 0



				.ui.checkbox
					margin: 20px 0
				.ui.checkbox .box:before, .ui.checkbox label:before
					background: none
					width: 20px
					height: 20px
					border: 1px solid #666
					transform: scale(0.8)
				.ui.checkbox .box:after, .ui.checkbox label:after
					top: 3px
					left: 2px
				.ui.checkbox label
					width: 100%

				.ui.radio.checkbox
					margin-right: 30px



			.input-wrap
				input, select, textarea
					background: $very-light-green
				

			.address-wrap, .textarea-wrap
				align-items: flex-start
				label
					margin-top: 15px
					@media (max-width: 576px)
						margin-top: 0
				.label
					display: inline-block
				.input-wrap
					div
						margin-bottom: 15px
			.select-wrap
				max-width: 200px
				@media (max-width: 576px)
					max-width: none
					width: 100%
		::placeholder
			font-weight: 300
			color: black
	.btn-area
		padding: 0px 0
		text-align: right
		button
			background: $middle-green 
			color: white
			border: none
			font-weight: 300
			padding: 15px 60px
			letter-spacing: 5px
			transition: .3s
			cursor: pointer
			&:hover
				background: black !important
	.don-text
		p
			font-weight: 300
			line-height: 30px

section#reset-password
	//text-align: center
	.form-wrap
		max-width: 500px
		margin: 0 auto
		.item-wrap
			@media (max-width: 576px)
				display: block
			label
				width: 130px
		.btn-area
			text-align: center


.cart2
	.radio-area
		pointer-events: none
	input
		background: none !important
	.select-wrap
		&:before
			display: none
	select
		background: none !important
	textarea
		background: none !important
	p
		font-weight: 300
	input[type="number"]
		border: none
		text-align: center


.tw-pay
	.warn
		text-align: center
		color: darken(red, 20%)
		font-size: 25px
	.png
		text-align: center
		margin-bottom: 20px
		img
			width: 100%
			max-width: 250px




// section.test
// 	position: relative
// 	.leaf
// 		width: 100%
// 		position: absolute
// 		left: 0
// 	.leaf.top
// 		top: 0
// 		transform: rotate(180deg) translateY(10%)
// 	.leaf.bottom
// 		bottom: 0
// 		transform: translateY(10%)
// 		//transform: translateY(40%)
// 	.wrap
// 		padding: 800px 0
// 		@media (max-width: 1199px)
// 			padding: 500px 0
// 		@media (max-width: 768px)
// 			padding: 400px 0
// 		@media (max-width: 576px)
// 			padding: 300px 0
// 		@media (max-width: 400px)
// 			padding: 400px 0
// 		.logo-wrap
// 			text-align: center
// 			margin-bottom: 100px
// 			position: relative
// 			&:before
// 				content: ''
// 				position: absolute
// 				width: 50px
// 				background: #bbb
// 				height: 2px
// 				left: 50%
// 				transform: translateX(-50%)
// 				bottom: -50px

// 			img
// 				width: 30%
// 				min-width: 180px
// 		h1
// 			text-align: center
// 			font-weight: 300
// 			color: #3f533c






*
	font-family: '微軟正黑體'
	//border: 1px solid










