@import "font"
@import "variable"
@import "mixin"
@import "for"
@import "keyframe"

// @import "customBootstrap";
@import "tools"
@import "component"
@import "flex"
@import "rwdtable"
@import "menu"


/***** component *****/
@import "popup"
@import "navbar"
@import "tableInfo"
/*********************/
@import "page"

*
	//border: 1px solid



.indexBn-box
	.arrow-control
		.left
			left: 1%
		.right
			right: 1%
		.slick-arrow
			top: 52%
			@media (max-width: 767px)
				top: 40%

			img
				width: 20px
	.bn
		position: relative
		
		.bg-wrap
			//padding-bottom: 40%
			
			background-size: cover
			background-position: center center
			height: 55vh
			@media (max-width: 768px)
				max-height: 350px
		.text-container
			position: absolute
			bottom: 30px
			left: 2%
			@media (max-width: 768px)
				position: relative
				left: 0
				bottom: 0
		.bn-text1
			margin: 0
			max-width: 500px
			background-color: rgba(255, 255, 255, 0.6)
			h2
				@media (max-width: 991px)
					font-size: 30px
				@media (max-width: 768px)
					font-size: 25px


.banner2
	position: relative
	min-height: auto
	@media (max-width: 768px)
		margin-bottom: 0
	.bg-wrap
		width: 100%
		height: 50vh
		background-position: center center
		background-size: cover
	.container-fluid
		position: absolute !important
		top: 0px
		left: 2%
		@media (max-width: 768px)
			left: 0%
			position: relative !important
			top: 0px
			.bn-text1
				position: relative
		.bn-text1
			@media (max-width: 768px)
				margin-bottom: 0
			h2
				@media (max-width: 991px)
					font-size: 30px
				@media (max-width: 768px)
					font-size: 25px
			p
				@media (max-width: 991px)
					font-size: 20px
				@media (max-width: 768px)
					font-size: 16px
.banner3
	position: relative
	min-height: auto
	padding-bottom: 0

	.bg-wrap
		width: 100%
		height: 55vh
		background-position: center center
		background-size: cover
	.container-fluid
		position: absolute !important
		top: 50%
		transform: translateY(-50%)
		right: 2%
		.row
			justify-content: flex-end
		@media (max-width: 768px)
			transform: translateY(0%)
			right: 0%
			position: relative !important
			top: 0px
			.bn-text1
				position: relative
				max-width: 500px
		.bn-text1
			h2
				@media (max-width: 991px)
					font-size: 30px
				@media (max-width: 768px)
					font-size: 25px
			p
				@media (max-width: 991px)
					font-size: 20px
				@media (max-width: 768px)
					font-size: 16px

.intro
	.info
		line-height: 1.8

.bn3-box
	h2
		@media (max-width: 768px)
			font-size: 25px !important
	p
		font-weight: 300			
		// 	margin-left: 2%
		// 	@media (max-width: 767px)
		// 		position: absolute
		// 		margin: 0
		// 		top: 105%
		//transform: translateY(100%)

.footer-social
	ul
		li
			@media (max-width: 910px)
				width: 25px
				text-align: center

			@media (max-width: 767px)
				margin: 0 12px !important

@media only screen and (max-width: 767px)
	.lobster-font.font40
    font-size: 25px
    margin-bottom: 30px


.leave-top
	margin-top: 0

.ip-box figure figcaption p
	z-index: 2
.ip-box
	.ip-name
		display: flex
		min-height: 50px
		justify-content: center
		align-items: center
		@media (max-width: 768px)
			font-size: 14px


@media (min-width: 991px)
	.navbar .dropdown-menu .dropdown-submenu li
	    display: inline-block
	    margin: 0 50px

span.badge.custom-badges
	padding-top: 4px
	padding-left: 6px

@media (max-height: 800px) and (max-width: 1199px)
	.navbar-collapse.collapse.show
		overflow-y: scroll
		max-height: 85vh

nav.navbar.navbar-expand-lg.navbar-light
	li.nav-item
		padding: 0 20px
		white-space: nowrap
		@media (max-width: 1200px)
			padding: 0 12px
	@media (max-width: 450px)
		padding-left: 5px
		padding-right: 5px
		.navbar-brand
			margin: 0
			img
				//width: 80px
		ul
			//margin: 0
			
		li
			margin-right: 5px
			margin-left: 5px
			vertical-align: middle
			p
				display: none

.form-control + button
	//display: none
	top: 50%
	transform: translateY(-50%)
	right: 17px
	transition: .3s

h2.green, h2.black
	font-size: 30px !important
p.green, p.black
	font-size: 18px !important

.navbar-user, .navbar-userM
	li
		img
			width: 23px
			padding-bottom: 5px

		&:hover
			img
				@media (min-width: 991px)
					filter: saturate(0%) brightness(70%) contrast(1000%)
			>
				color: black !important
			//.fa.fa-file-text-o
// .dropdown-submenu
// 	ul

	    			
*
	//border: 1px solid


